# Next.js
.next/
out/

# Dependencies
node_modules/
.pnp
.pnp.js

# Production
build/

# Misc macOS
.DS_Store

# Env files
.env*.local
.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

